@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: -webkit-fill-available;
  height: 100%;
  width: 100vw;
  margin: 0px;
  background: #eeece8;
  display: flex;
  flex-grow: 1;
}
